BOT_TOKEN=8673060928:AAH6sB8z1glgFJ7_L0KjoiXk774ntt9Wg6g
WEBHOOK_SECRET=829709abdaab2aa924fa6f4f778108a7
DB_PATH=/home/Yacinee/telegrm-bot/data/bot.sqlite3

GROUPE_AUTORISE=0
AUTORISATIONS_SAISIE=

EXCEL_LOCAL_DIR=/home/<user>/telegrm-bot/data/exports

GOOGLE_SERVICE_ACCOUNT_JSON=/home/<user>/secrets/bot-lavage-org-a23ba0857e30.json
GOOGLE_SPREADSHEET_ID=10DzY3EhxWJqVhOetPoc3fA9bAdroDMf95u_oT3Wuhuo
GOOGLE_DRIVE_ARCHIVES_FOLDER_ID=1M2H46jE1YUA_crRBWhf3k-Uh5QwCbloV
GOOGLE_DRIVE_BACKUPS_FOLDER_ID=1YeSC6ne-47dCDD6c84vrhXMHE4dR8Xnd
PUSH_IMMEDIAT=false